
@media screen and (max-width: 991px) {
	.work-detail{margin-top: 570px}
	
	.container2{margin-bottom: 0px}
}


@media screen and (max-width: 730px) {
	
.work-detail{margin-top: 640px}
.container2{margin-bottom: 0px}	
	
}

@media screen and (max-width: 620px) {
	
.work-detail{margin-top: 650px}
.container2{margin-bottom: 0px}	
	
}


@media screen and (max-width: 500px) {
	
.work-detail{margin-top: 680px}
.container2{margin-bottom: 0px}	
	
}

@media screen and (max-width: 470px) {
	
.work-detail{margin-top: 800px;}
.container2{margin-bottom: 20px;
	overflow: visible}	
	
}