@charset "UTF-8";

*[hidden] {
    display: none;
}


body{font-family: 'Roboto', sans-serif;
}

body {
    background-color:white;
	margin-left: 10%;
	margin-top: 5%
}


.Menu{margin-left: 75vw;
position: static}


.Portfolio{text-decoration: none;
color: black;
font-size: 1.6vw;
font-weight: 300;
display: inline-block}
.About{text-decoration: none;
color: black;
font-size: 1.6vw;
font-weight: 300}
.Contact{text-decoration: none;
color: black; 
font-size: 1.6vw;
font-weight: 300;
display: inline-block}


.vertical_dotted_line{
    border-left: 3px dotted white;
text-align: center;
  stroke-dasharray: 100;
  animation: dash 10s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}




#hi{color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
font-weight: 300;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */;
animation: 
    typing 1.6s steps(1, end),
	blink-caret .75s step-end infinite;}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
	100% { border-color: transparent; }}





#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:#ff8736;
	margin: 0px
}





h2{color: white;
font-family: 'Roboto', sans-serif;
font-weight: 300;
text-align: center;
overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
	
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
	100% { border-color: transparent; }}




.enter_link{text-decoration: none;
color:white;
	 display: inline-block;;
animation: 30s shake infinite alternate;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(5deg); }
   85% { transform: rotate(-5deg); }
   95% { transform: rotate(0deg); }
  100% { transform: rotate(5deg); }
}







@media screen and (min-width: 1100px) {
	h2 {font-size: 10vw;
	margin-top: 34vh}
	
	
#hi{color: white;
margin-left: 46.2vw;
font-size: 2.1vw;
text-decoration: none;
position:absolute; 
	bottom:0px;
 display:inline-block;
	margin-top: 21.2vh}
	
.vertical_dotted_line{
margin-left: 3.6vw;
margin-top: 1vh;
	height: 18vh;
	}

	
	h1{margin-left: -4vw;
	font-family: 'Roboto', sans-serif;;
	font-weight: 300;
	font-size: 6vw;
	margin-top: 30px;
		color: #ff8736}	
	

	#grid-container > div {
  background-color: black;
  text-align: center;
  padding: 11vw;
  font-size: 30px;
}		
	
#grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
margin-left: -4.3vw;
margin-right: 70px;
margin-top: 4vh
}
		

#grid{
    display: none;
}

}


@media screen and (max-width: 1100px) {
	
	
  h2 {font-size: 13vw;
	margin-top: 37vh}
	
#hi{color: white;
margin-left: 44vw;
font-size: 3vw;
text-decoration: none;
position:absolute; 
	bottom:0px;
 display:inline-block;
	margin-top: 21vh}
	
	
	
.vertical_dotted_line{
margin-left: 5.3vw;
margin-top: 1vh;
	height: 18vh;
	}
		
h2{
  animation: 
    typing 2.7s steps(40, end),
    blink-caret .75s step-end infinite;
	
}		
	
#grid-container > div {
  background-color: black;
  text-align: center;
  padding: 11vw;
  font-size: 30px;
}		
	
#grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
margin-left: -4.3vw;
margin-right: 70px;
margin-top: 4vh
}
		
#grid{
    display: none;
}	
	
	}




@media screen and (max-width: 700px) {
	
	
  h2 {font-size: 17vw;
	margin-top: 37vh;
	font-weight: 300}
	
#hi{color: white;
margin-left: 37vw;
font-size: 7vw;
text-decoration: none;
position:absolute; 
	bottom:0px;
 display:inline-block;
	margin-top: 21vh}
	
	#hi{
animation: 
    typing 1.6s steps(1, end),
	blink-caret .75s step-end infinite;}
	
.vertical_dotted_line{
margin-left: 12vw;
margin-top: 1vh;
	height: 18vh;
	}	
	
	
h2{
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
	
}	
	
		
	
	#grid-container > div {
  background-color: black;
  text-align: center;
  padding: 25vw;
  font-size: 30px;
}		
	
#grid-container {
  display: grid;
  grid-template-columns: auto ;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
margin-left: -4.3vw;
margin-right: 20px;
margin-top: 4vh
}
	
#grid{
    display: none;
}	
	
	}
